.errorHomeMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}


.trueHomeMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: black;
}

.trueManagmentMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: black;
}

.userLock {
	color: red;
}
body {
	background-color: #FFFFDD;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 00px;
	background-color: #FFFFDD;
	height: 100%;
}

.userView {
	width: auto;
	height: auto;
}

.header {
	text-align: left;
}

.search{
	border: 1px solid;
	width: 580px; height: 170px;
	background-color: #f8f5f8;
	box-sizing: content-box;
}

.articleView{
	border: 2px solid;
	width: auto; height: auto;
	background-color: #ffffff;
	box-sizing: content-box;
	word-wrap: break-word;
	overflow-wrap: break-word;

}

.articleText{
	font-size: large;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-line;
}

.line{
	border-bottom: 2px dotted;
}
.commentView{
	border-top: 2px dotted hidden;
	border-bottom: 2px dotted;
	width: auto; height: auto;
	background-color: #ffffff;
	box-sizing: content-box;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.commentText{
	font-size: large;
	word-wrap: break-word;
	width: 200px
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-line;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #FFFFDD;
	height: 100%;
}

.settingMain-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFFFDD;
	height: 100%;
	width: 870px;
}
.newuserMain-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFFFDD;
	height: 100%;
	width: 650px;
}

.loginMain-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFFFDD;
	height: 100%;
	width: 650px;
}

.loginTh {
	width:200px;
	height:auto;
	bgcolor:skyblue;
}

.nameTh {
	width:150px;
	height:auto;
}

.branchTh {
	width:70px;
	height:auto;
}

.positionTh {
	width:100px;
	height:auto;
}

.stateTh {
	width:70px;
	height:auto;
}

.stateChangeTh {
	width:130px;
	height:auto;
}

.changeButton {
	width:130px;
	height:auto
}

.deleteButton {
	width:130px;
	height:auto
}