.Messages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.userLock {
	color: red;
}
body {
	background-color: #80ffff;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 00px;
	background-color: #ffffff;
	height: 100%;
}

.userView {
	width: auto;
	height: auto;
}

.header {
	text-align: left;
}

.search{
	border: 1px solid;
	width: 580px; height: 170px;
	background-color: #f8f5f8;
	box-sizing: content-box;
}

.articleView{
	border: 2px solid;
	width: auto; height: auto;
	background-color: #ffffff;
	box-sizing: content-box;
}

.articleText{
	font-size: x-large;
}

.commentView{
	border: 2px dotted;
	width: auto; height: auto;
	background-color: #ffffff;
	box-sizing: content-box;
}

.commentText{
	font-size: large;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.settingMain-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 870px;
}
.newuserMain-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 650px;
}

.loginMain-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 650px;
}